h2 Log
div(id="scroll" style="overflow-y: scroll; height:400px;")
  table.code
    thead
      tr
        td
        td
    tbody(id="log")
javascript:
  var serverSentEvent = new EventSource("#{url('/log/stream')}");
  var log = document.getElementById("log");
  var scroll = document.getElementById("scroll");
  serverSentEvent.onmessage = function(e) {
    let event = JSON.parse(e.data);
    event.data.split("\n").forEach(function(line) {
      if ( line != "" ) {
        row = document.createElement('tr');
        time = document.createElement('td');
        time.classList.add('code','time')
        time.innerHTML = event.time
        row.appendChild(time);
        text = document.createElement('td');
        text.classList.add('code')
        if ( event.channel == "err") {
          text.style.color = "red";
        }
        text.innerHTML = line;
        row.appendChild(text);
        log.appendChild(row);
      }
    })
    scroll.scrollTop = scroll.scrollHeight;
  }
